
@font-face {
  font-family: "nunitosans";
  src: url("../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  max-width: 1920px;
}

.title {
  font: 800 1.46vw/150% "nunitosans", sans-serif;
  text-transform: uppercase;
}

.link{
  text-transform: uppercase;
  text-align: center;
  background: #4F8FF0;
  border: 0.1vw solid #4F8FF0;
  width: 8.23vw;
  height: 2.55vw;
  padding-top: 0.83vw;
  color: #fff;
  font: 900 0.73vw/120% "nunitosans", sans-serif;
}

.line {
  width: 2.60vw;
  height: 0.16vw;
  background: #4F8FF0;
}

.contact {
  background: #010101;
  position: fixed;
  padding: 0 15.625%;
  width: 100%;
  max-width: 1920px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.contact__personal {
  display: flex;
  align-items: center;
}

.contact__img {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__link {
  margin: 0 24px 0 8px;
  color: #fff;
  font: 600 0.73vw/120% "nunitosans", sans-serif;
}

.contact__link {
  color: #4F8FF0;
  font: 700 0.73vw/150% "nunitosans", sans-serif;
}
/*///////////////////////////////////*/
.header {
  padding-top: 2.71vw;
}

.header__menu {
  background-image: linear-gradient(rgba(1, 1, 1, 0.76), rgba(1, 1, 1, 0.76));
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15.63vw;
  height: 5.83vw;
}

.header__container {
  padding: 1.04vw 17.14vw 1.46vw 0;
  p:last-child {
    min-width: 12.66vw;
  }
}

.header__title {
  font: 900 1.46vw/150% "nunitosans", sans-serif;
  color: #4F8FF0;
  text-transform: uppercase;  
}

.header__subtitle, .footer__subtitle  {
  font: 900 1.04vw/150% "nunitosans", sans-serif;
  color: #FFF;
  text-transform: lowercase;
}

.header__list {
  color: #fff;
  font: 700 0.94vw/120% "nunitosans", sans-serif;
  display: flex;
  flex-direction: row;
  column-gap: 1.67vw;
  li:nth-last-child(5){
    min-width: 5.52vw;
  }
  li:nth-last-child(4){
    min-width: 6.41vw;
  }
}

.header__list-item, .footer__list-item {
  a {
    color: #fff;
    &:hover {
      color: #4F8FF0;
      text-decoration: underline;
      transition-duration: 0.55s;   
    }
  }
}

/*//////////////*/
.preview, .header {
  background-image: linear-gradient(rgba(34, 34, 34, 0.64), rgba(34, 34, 34, 0.64)), url("../img/header__background.jpg");
  background-repeat: no-repeat;
}

.header {
  background-position: center 0;
}

.preview {
  background-position: center calc(-1 * var(--nav-vertical-size));
  height: 42.71vw;
}

.preview__wrapper {
  width: 56.77vw;
  height: 10.05vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 21.61vw;
  padding-top: 7.81vw;
}

.preview__subhead {
  font: 300 1.56vw/150% "nunitosans", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.preview__title {
  font: 600 2.92vw/150% "nunitosans", sans-serif;
  color: #4F8FF0;
  text-transform: uppercase;
}

.preview__subtitle {
  font: 400 1.04vw/120% "nunitosans", sans-serif;
  color: #fff;
  text-align: center;
}

.preview__link {
  margin-top: 2.5vw;
  padding-bottom: 0.83vw;
}

.preview__control {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0 17.63vw 1.88vw;
margin-top: 28vw;
}

.preview__bullet{
  max-width: 28px;
}

.preview__navigation {
  display: flex;
  column-gap: 13.19px;
  color: #E6E6E6;
  align-items: center;
  button {
    height: 20px;
    width: 20px;
    background: none;
  }
}
/*///////////////////////////////////*/
.services {
  background: #F7F7F7;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 50vw;
  color: #222222;
}

.services__title {
  margin-bottom: 0.52vw;
  margin-top: 4.17vw;
}

.services__subtitle {
  font: 400 0.83vw/120% "nunitosans", sans-serif;
  text-align: center;
  width: 47.92vw;
  margin-top: 1.25vw;
  margin-bottom: 2.50vw;
}

.services__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 22.08vw);
  grid-template-rows: repeat(2, 13.02vw);
  gap: 1.98vw;
}

.services__item {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  svg {
    margin-top: 1.56vw;
    fill: #4F8FF0;
  }
  h4 {
    font: 800 1.04vw/150% "nunitosans", sans-serif;
    margin-top: 0.78vw;
    margin-bottom: 0.52vw;
  }
  p {
    font: 400 0.73vw/120% "nunitosans", sans-serif;
    text-align: center;
    width: 18.75vw;
  }
  &:hover {
    background-color: #4F8FF0;

    p, h4 {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
    .services__box {
      display: inline-block;
      width: 19.38vw;
      position: relative;
      border: 0.1vw solid #fff;
      transition: all .3s ease;
      margin: 1.04vw;
    }
    .services__box:before,
    .services__box:after {
      content: "";
      z-index: 1;
      display: block;
      position: absolute;
      background: #4F8FF0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
    }
    .services__box:before {
      width: calc(100% + 0.21vw);
      height: 70%;
      transition: height 0.6s;
    }
    .services__box:after {
      height: calc(100% + 0.21vw);
      width: 85%;
      transition: width 0.6s;
    }
    .services__textbox  {
      z-index: 2;
      position: relative;
      text-align: center;
    }

  }
}

.services__link {
  margin-top: 3.33vw;
}
/*///////////////////////////////////*/
.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4.17vw  0;
  height: 32.5vw;
  color: #222222;
  img {
    height: 18.7vw;
    box-shadow: 0.21vw 0.21vw 0.63vw 0.1vw rgba(33, 33, 33, 0.25);
  }
}

.information__case {
  display: flex;
  flex-direction: column;
  width: 41.67vw;
  padding-right: 3.33vw;
}

.information__title {
  width: 37.50vw;
  span {
    color: #4F8FF0;
    font-weight: 900; 
  }
}

.information__line, .jurist__line, .news__line {
  margin: 0.52vw 0 1.25vw;
}

.information__subtitle {
  width: 37.50vw;
  font: 400 0.73vw/150% "nunitosans", sans-serif;
  margin-bottom: 1.35vw;
}

.information__links {
  display: flex;
  column-gap: 1.25vw;
  margin-top: 1.46vw;
}

.information__links-history {
  width: 10.94vw;
}

.information__links-sertificat {
  width: 8.39vw;
  background: #E6E6E6;
  border: 0.1vw solid #E6E6E6;
  color: #222222;
}
/*///////////////////////////////////*/
.jurist {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 38.49vw;
  color: #222222;
}

.jurist__title {
  margin-top: 4.17vw;
}

.jurist__subtitle {
  font: 400 0.83vw/120% "nunitosans", sans-serif;
  margin-bottom: 2.5vw;
  width: 47.92vw;
  text-align: center;
}

.jurist__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.25vw;
  margin: 0 15.63vw 4.17vw;
  height: 21.56vw;
  width: 68.75vw;
}

.jurist__wrapper :hover {
  & p:nth-child(4), p:nth-child(5) {
    display: flex;
    overflow: visible;
  }
  & p:nth-child(3) {
    text-transform: none;
  }
  .jurist__img {
    display: none;
    overflow: hidden;
  }
  .jurist__box {
    display: inline-block;
    width: 13.8vw;
    height: 19.48vw;
    position: relative;
    border: 0.05vw solid #4F8FF0;
    transition: all .3s ease;
    margin: 1.04vw;
  }
  .jurist__box:before,
  .jurist__box:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute; 
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
  }
  .jurist__box:before {
    width: calc(100% + 0.21vw);
    height: 80%;
    transition: height 0.6s;
  }
  .jurist__box:after {
    height: calc(100% + 0.21vw);
    width: 80%;
    transition: width 0.6s;
  }
  .jurist__textbox  {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.24vw;
  }
}

.jurist__element {
  height: 21.56vw;
  width: 16.25vw;
  box-shadow: 0.1vw 0.1vw 0.63vw 0 rgba(33, 33, 33, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & p:nth-child(2) {
    font: 700 0.83vw/120% "nunitosans", sans-serif;
    margin-top: 1.25vw;
  }
  & p:nth-child(3) {
    font: 300 0.73vw/120% "nunitosans", sans-serif;
    margin: 0.52vw 0 1.25vw;
    text-transform: lowercase;
  }
  & p:nth-child(4), p:nth-child(5) {
  display: none;
  overflow: hidden;
  font: 300 0.73vw/120% "nunitosans", sans-serif;
  margin: 0.83vw 0 2.08vw;
  }
  & p:nth-child(5) {
    font: 600 0.83vw/120% "nunitosans", sans-serif;
    margin: 0;
  }
}

.jurist__img {
  width: 16.25vw;
  height: 16.67vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}
/*///////////////////////////////////*/
.reviews {
  height: 30.63vw;
  color: #222222;
  background: url("../img/reviews__background.jpg");
  background-repeat: no-repeat;
  
}

.reviews__container {
  padding: 4.17vw 15.63vw 2.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.86vw;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  width: 23.65vw;
}

.reviews__title {
  width: 23.65vw;
  margin-bottom: 0.52vw;
}

.reviews__line {
  padding-top: 0.16vw;
}

.reviews__navigation {
  display: flex;
  column-gap: 0.69vw;
  color: #4F8FF0;
  align-items: center;
  button {
    height: 20px;
    width: 20px;
    background: none;
  }
}

.reviews__list {
  margin-top: 2.50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.25vw;
  background: #fff;
}

.reviews__list-item {
  width: 33.75vw;
  height: 12.71vw;
  padding: 1.67vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.1vw 0.1vw 0.52vw 0 ;
}

.reviews__head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  svg {
    position: absolute;
    left: 27.55vw;
  }
}

.reviews__img {
  width: 4.17vw;
  height: 4.17vw;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
  }
}

.reviews__name {
display: flex;
flex-direction: column;
margin-left: 1.25vw;
justify-content: center;
& p:nth-child(1) {
  font: 300 0.73vw/120% "nunitosans", sans-serif;
}
& p:nth-child(2) {
  font: 700 1.04vw/150% "nunitosans", sans-serif;
}
}

.reviews__foot {
  margin-top: 0.83vw;
  font: 400 0.73vw/150% "nunitosans", sans-serif;
}

.reviews__links {
  display: flex;
  column-gap: 1.25vw;
  margin-top: 1.67vw;
  margin-left: 15.63vw;
}

.reviews__links-review {
  width: 7.60vw;
}

.reviews__links-write {
  width: 9.64vw;
  background: #E6E6E6;
  border: 0.1vw solid #E6E6E6;
  color: #222222;
}
/*///////////////////////////////////*/
.news {
  height: 47.55vw;
  padding-top: 4.17vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.news__subtitle {
  font: 400 0.83vw/150% "nunitosans", sans-serif;
  text-align: center;
  width: 47.92vw;
  margin-bottom: 2.50vw;
}

.news__list {
  display: flex;
  flex-direction: row;
  column-gap: 1.25vw;
  & :hover {
    .news__img-city {
      background-image: linear-gradient(rgba(79, 143, 240, 0.4), rgba(79, 143, 240, 0.4)), url("../img/news__city.jpg");
    }
    .news__img-paris {
      background-image: linear-gradient(rgba(79, 143, 240, 0.4), rgba(79, 143, 240, 0.4)), url("../img/news__paris.jpg");
    }
    .news__img-hands {
      background-image: linear-gradient(rgba(79, 143, 240, 0.4), rgba(79, 143, 240, 0.4)), url("../img/news__hands.jpg");
    }
    svg {
      display: inline;
      overflow: visible;
      margin: 1.20vw;
    }
    h5 {
      color: #4F8FF0;
    }
  }
}

.news__wrapper {
  width: 22.08vw;
  height: 25.05vw;
  display: flex;
  flex-direction: column;
  h5 {
    margin: 1.28vw 0 0.83vw;
    font: 700 0.83vw/150% "nunitosans", sans-serif;
  }
  time {
    margin-bottom: 0.83vw;
    font: 300 0.63vw/120% "nunitosans", sans-serif;
  }
  p {
    font: 400 0.73vw/150% "nunitosans", sans-serif;
  }
  svg {
    display: none;
    overflow: hidden;
    width: 20.08vw;
    height: 12.06vw;
  }

}

.news__img {
  height: 14.06vw;
  width: 22.08vw;
}

.news__img-city {
  background: url("../img/news__city.jpg");
  background-size: contain;
}

.news__img-paris {
  background: url("../img/news__paris.jpg");
  background-size: cover;
}

.news__img-hands {
  background: url("../img/news__hands.jpg");
  background-size: contain;
}

.news__link{
  margin-top: 2.50vw;
}

/*///////////////////////////////////*/
.footer {
  height: 27.86vw;
  background: #222222;
  color: #FFF;
  position: relative;
  padding-top: 4.17vw;
}

.footer__head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 9.48vw;
  width: 68.75vw;
  margin: 0 15.63vw;
  
  height: 3.23vw;
}

.footer__text {
  font: 400 0.83vw/120% "nunitosans", sans-serif;
  text-transform: lowercase;
  min-width: 44.90vw;
  height: 1.98vw;
  color: #F8F5F4;
}

.footer__titles {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font: 900 1.46vw/150% "nunitosans", sans-serif;
  color: #4F8FF0 ;
  text-transform: uppercase;
}

.footer__line {
  width: 68.75vw;
  border: 0.05vw solid #8C8C8C;
  margin: 2.50vw 15.63vw;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.footer__adress {
  width: 21.82vw;
}

.footer__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 2.86vw;
  margin-bottom: 1.25vw;
  address {
    margin-left: 1.25vw;
    height: 1.98vw;
    p {
      font: 700 0.63vw/120% "nunitosans", sans-serif;
      color: #8C8C8C;
      text-transform: uppercase;
    }
    a {
      font: 700 0.83vw/150% "nunitosans", sans-serif;
      color: #fff;
    }
  }
}

.footer__icon {
  width: 2.86vw;
  height: 2.86vw;
  background: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__menu {
  width: 16.25vw;
  font: 700 0.73vw/120% "nunitosans", sans-serif;
  margin: 0 1.25vw 0 7.34vw;
  li {
    margin-top: 0.83vw;
    text-transform: uppercase;
  }
}

.footer__wrapper {
  width: 22.08vw;
  display: grid;
  grid-template-columns: 3.39vw 17.45vw;
  grid-template-rows: 3.39vw 3.28vw;
  grid-template-areas: 
  "left head"
  "content content";
  gap: 1.25vw;
  a {
    width: 12.55vw;
    height: 2.55vw;
    background: #4F8FF0;
    border: 0.1vw solid #4F8FF0;
    text-align: center;
    color: #fff;
    padding-top: 0.83vw;
    font: 900 0.73vw/120% "nunitosans", sans-serif;
    text-transform: uppercase;
  }
}

.footer__img{
  height: 3.39vw;
  width: 3.39vw;
  grid-area: left;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
  }
}

.footer__name {
  grid-area: head;
  align-self: center;
  & p:nth-last-child(2) {
    font: 700 1.04vw/150% "nunitosans", sans-serif;
  }
  & p:nth-last-child(1) {
    font: 300 0.73vw/120% "nunitosans", sans-serif;
  }
}

.footer__sentence {
  grid-area: content;
  font: 400 0.73vw/150% "nunitosans", sans-serif;
}

.footer__foot {
  background: #181818;
  height: 2.55vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15.63vw;
  align-items: center;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 27.86vw;
  font: 400 0.73vw/120% "nunitosans", sans-serif;
}