@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  li:before {
    content: "\2714";
    color: #408858;
  }
  
  .section {
    background: #F2F8F6;
    display: flex;
    flex-direction: row;
    height: 668px;
  }
  .plants {
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    margin-left: 240px;
    z-index: 100;
    width: 550px;
  }

  .plants__title {
    font: 500 50px/1 "roboto-bold", sans-serif;
    text-shadow: 0 4px 4px #00000040;
  }

  .plants__subtitle {
    font: 400 20px/1.4 "roboto", sans-serif;
    margin-top: 19px;
    margin-left: 2px;
  }

  .plants__list-item {
    font: 500 20px/1 "roboto-medium", sans-serif;
    display: flex;
    column-gap: 3px;
    margin-bottom: 13px;
    margin-top: 23px;
  }

  .plants__link {
    font: 500 20px/1.2 "roboto", sans-serif;
    color: #FFFFFF;
    border: 1px solid #408858;
    width: 211px;
    height: 57.67px;
    background: #408858;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    border-radius: 2px;
  }

  .section__box {
    min-width: 446.67px;
    max-height: 437.32px;
    background: #fff;
    position: relative;
    top: 67px;
    left: 169px;
  }
  
  .section__box-border {
    position: absolute;
    top: 48px;
    left: 33.33px;
    width: 446.67px;
    height: 437.3px;
    border: 20px solid #3D8455;
  }

  .section__box-img {
    width: 222.67px;
    position: absolute;
    top: -49.28px;
    left: 116px;
    }
  
  

