
@font-face {
  font-family: "nunitosans";
  src: url("../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  max-width: 1920px;
}

.body__contact {
  background: #010101;
  position: fixed;
  padding: 0 15.625%;
  width: 100%;
  max-width: 1920px;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.contact__personal {
  display: flex;
  align-items: center;
}

.contact__img {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal__link {
  margin: 0 24px 0 8px;
  color: #fff;
  font: 600 14px/120% "nunitosans", sans-serif;
}

.contact__link {
  color: #4F8FF0;
  font: 700 14px/150% "nunitosans", sans-serif;
}
/*///////////////////////////////////*/
.header {
  padding-top: 52px;
  max-width: 1920px;
  width: 100%;
  background-image: linear-gradient(rgba(34, 34, 34, 0.64), rgba(34, 34, 34, 0.64)), url("../img/header__background.png");
  background-size: no-repeat;
}

.menu {
  background-image: linear-gradient(rgba(1, 1, 1, 0.76), rgba(1, 1, 1, 0.76));
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15.625%;
  height: 112px;
}

.menu__container {
  padding: 20px 25% 28px 0;
  @media (max-width: 1410px) {
    padding-right: 15%;
  }
  p:last-child {
    min-width: 243px;
  }
}

.container__title {
  font: 900 28px/150% "nunitosans", sans-serif;
  color: #4F8FF0 ;
  text-transform: uppercase;
}

.container__subtitle {
  font: 900 20px/150% "nunitosans", sans-serif;
  color: #FFF;
  text-transform: lowercase;
}

.menu__list {
  color: #fff;
  font: 700 18px/120% "nunitosans", sans-serif;
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  li:nth-last-child(5){
    min-width: 106px;
  }
  li:nth-last-child(4){
    min-width: 123px;
  }
}

.list__item {
  a{
    color: #fff;
    &:hover {
      color: #4F8FF0;
      text-decoration: underline;
      transition-duration: 0.55s;   
    }
  }
}

.contents {
  width: 1090px;
  height: 193px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 415px 0;
}

.contents__subhead {
  font: 300 30px/150% "nunitosans", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.contents__title {
  font: 600 56px/150% "nunitosans", sans-serif;
  color: #4F8FF0;
  text-transform: uppercase;
}

.contents__subtitle {
  font: 400 20px/120% "nunitosans", sans-serif;
  color: #fff;
  text-align: center;
}

.contents__link {
top: 241px;
left: 466px;
}

.contents__link, .services__link, .links__history, .links__sertificat, .links__review, .links__write, .news__link{
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  background: #4F8FF0;
  border: 2px solid #4F8FF0;
  width: 158px;
  height: 49px;
  padding-top: 16px;
  color: #fff;
  font: 900 14px/120% "nunitosans", sans-serif;
}

.control {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0 15.625% 36px;
margin-top: 240px;
}

.contol__bullet{
  max-width: 28px;
}

.control__navigation {
  display: flex;
  column-gap: 13.19px;
  color: #E6E6E6;
  align-items: center;
  button {
    height: 20px;
    width: 20px;
    background: none;
  }
}
/*///////////////////////////////////*/
.content__services {
  background: #F7F7F7;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 960px;
  color: #222222;
}

.services__title {
  font: 800 28px/150% "nunitosans", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 80px;
}

.services__line, .jurist__line, .case__line, .reviews__line, .news__line {
  width: 50px;
  height: 3px;
  background: #4F8FF0;
}

.services__subtitle {
  font: 400 16px/120% "nunitosans", sans-serif;
  text-align: center;
  width: 920px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 424px 424px 424px;
  grid-template-rows: 250px 250px;
  gap: 38px;
}

.wrapper__item {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  svg {
    margin-top: 30px;
    fill: #4F8FF0;
  }
  h4 {
    font: 800 20px/150% "nunitosans", sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  p {
    font: 400 14px/120% "nunitosans", sans-serif;
    text-align: center;
    width: 360px;
  }
  &:hover {
    background-color: #4F8FF0;

    p, h4 {
      color: #fff;
    }
    svg {
      fill: #fff;
    }
    .item__box {
      display: inline-block;
      width: 372px;
      position: relative;
      border: 2px solid #fff;
      transition: all .3s ease;
      margin: 20px;
    }
    .item__box:before,
    .item__box:after {
      content: "";
      z-index: 1;
      display: block;
      position: absolute;
      background: #4F8FF0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
    }
    .item__box:before {
      width: calc(100% + 4px);
      height: 70%;
      transition: height 0.6s;
    }
    .item__box:after {
      height: calc(100% + 4px);
      width: 85%;
      transition: width 0.6s;
    }
    .box__textbox  {
      z-index: 2;
      position: relative;
      text-align: center;
    }

  }
}

.services__link {
  top: 831px;
}
/*///////////////////////////////////*/
.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 0;
  height: 624px;
  color: #222222;
  img {
    height: 359px;
    box-shadow: 4px 4px 12px 2px rgba(33, 33, 33, 0.25);
  }
}

.information__case {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-right: 64px;
}

.case__title {
  font: 800 28px/150% "nunitosans", sans-serif;
  text-transform: uppercase;
  width: 720px;
  span {
    color: #4F8FF0;
    font-weight: 900; 
  }
}

.case__line {
  margin: 10px 0 24px;
}

.case__subtitle {
  width: 720px;
  font: 400 14px/150% "nunitosans", sans-serif;
  margin-bottom: 26px;
}

.case__links {
  display: flex;
  column-gap: 24px;
  margin-top: 28px;
}

.links__history {
  width: 210px;
  position: static;
}

.links__sertificat {
  width: 161px;
  background: #E6E6E6;
  border: 2px solid #E6E6E6;
  position: static;
  color: #222222;
}
/*///////////////////////////////////*/
.jurist {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 739px;
  width: 1920px;
  color: #222222;
}

.jurist__title {
  font: 800 28px/150% "nunitosans", sans-serif;
  text-transform: uppercase;
  margin-top: 80px;
}

.jurist__line {
 margin: 10px 0 24px;
}

.jurist__subtitle {
  font: 400 16px/120% "nunitosans", sans-serif;
  margin-bottom: 48px;
}

.jurist__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 24px;
  margin: 0 300px 80px;
  height: 414px;
  width: 1320px;
}

.jurist__wrapper :hover {

  & p:nth-child(4), p:nth-child(5) {
    display: flex;
    overflow: visible;
  }
  & p:nth-child(3) {
    text-transform: none;
  }
  .unit__img {
    display: none;
    overflow: hidden;
  }
  .element__box {
    display: inline-block;
    width: 265px;
    height: 374px;
    position: relative;
    border: 1px solid #4F8FF0;
    transition: all .3s ease;
    margin: 20px;
  }
  .element__box:before,
  .element__box:after {
    content: "";
    z-index: 1;
    display: block;
    position: absolute; 
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
  }
  .element__box:before {
    width: calc(100% + 4px);
    height: 80%;
    transition: height 0.6s;
  }
  .element__box:after {
    height: calc(100% + 4px);
    width: 80%;
    transition: width 0.6s;
  }
  .box__unit  {
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 43px;
  }
}

.wrapper__element {
  height: 414px;
  width: 312px;
  box-shadow: 2px 2px 12px 0 rgba(33, 33, 33, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  & p:nth-child(2) {
    font: 700 16px/120% "nunitosans", sans-serif;
    margin-top: 24px;
  }
  & p:nth-child(3) {
    font: 300 14px/120% "nunitosans", sans-serif;
    margin: 10px 0 24px;
    text-transform: lowercase;
  }
  & p:nth-child(4), p:nth-child(5) {
  display: none;
  overflow: hidden;
  font: 300 14px/120% "nunitosans", sans-serif;
  margin: 16px 0 40px;
  }
  & p:nth-child(5) {
    font: 600 16px/120% "nunitosans", sans-serif;
    margin: 0;
  }
}

.unit__img {
  width: 312px;
  height: 320px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
  }
}
/*///////////////////////////////////*/
.reviews {
  height: 588px;
  color: #222222;
}

.reviews__container {
  padding: 80px 300px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
}

.reviews__wrapper {
  display: flex;
  flex-direction: column;
  width: 454px;
}

.reviews__title {
  width: 454px;
  font: 800 28px/150% "nunitosans", sans-serif;
  text-transform: uppercase;
}

.reviews__line {
  margin-top: 10px;
}

.reviews__navigation {
  display: flex;
  column-gap: 13.19px;
  color: #4F8FF0;
  align-items: center;
  button {
    height: 20px;
    width: 20px;
    background: none;
  }
}

.reviews__list {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 24px;
}

.list__review {
  width: 648px;
  height: 244px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 10px 0 ;
}

.review__head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: relative;
  svg {
    position: absolute;
    left: 529px;
  }
}

.review__img {
  width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
  }
}

.review__name {
display: flex;
flex-direction: column;
margin-left: 24px;
justify-content: center;
& p:nth-child(1) {
  font: 300 14px/120% "nunitosans", sans-serif;
}
& p:nth-child(2) {
  font: 700 20px/150% "nunitosans", sans-serif;
}
}

.review__text {
  margin-top: 16px;
  font: 400 14px/150% "nunitosans", sans-serif;
}

.review__links {
  display: flex;
  column-gap: 24px;
  margin-top: 32px;
  margin-left: 300px;
}

.links__review {
  width: 146px;
  position: static;
}

.links__write {
  position: static;
  width: 185px;
  background: #E6E6E6;
  border: 2px solid #E6E6E6;
  color: #222222;
}
/*///////////////////////////////////*/
.news {
  height: 913px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.news__title {
  font: 800 28px/150% "nunitosans", sans-serif;
  text-transform: uppercase;
}

.news__line {
  margin: 10px 0 24px;
}

.news__subtitle {
  font: 400 16px/150% "nunitosans", sans-serif;
  text-align: center;
  width: 920px;
  margin-bottom: 48px;
}

.news__list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  & :hover {
    .wrap__img-city {
      background-image: linear-gradient(rgba(79, 143, 240, 0.4), rgba(79, 143, 240, 0.4)), url("../img/news__city.jpg");
    }
    .wrap__img-paris {
      background-image: linear-gradient(rgba(79, 143, 240, 0.4), rgba(79, 143, 240, 0.4)), url("../img/news__paris.jpg");
    }
    .wrap__img-hands {
      background-image: linear-gradient(rgba(79, 143, 240, 0.4), rgba(79, 143, 240, 0.4)), url("../img/news__hands.jpg");
    }
    svg {
      display: inline;
      overflow: visible;
      margin: 24px;
    }
    h5 {
      color: #4F8FF0;
    }
  }
}

.list__item__wrap {
  width: 424px;
  height: 481px;
  display: flex;
  flex-direction: column;
  h5 {
    margin: 24.5px 0 16px;
    font: 700 16px/150% "nunitosans", sans-serif;
  }
  time {
    margin-bottom: 16px;
    font: 300 12px/120% "nunitosans", sans-serif;
  }
  p {
    font: 400 14px/150% "nunitosans", sans-serif;
  }
  svg {
    display: none;
    overflow: hidden;
  }

}

.wrap__img {
  height: 270px;
  width: 424px;
}

.wrap__img-city {
  background: url("../img/news__city.jpg");
  background-size: contain;
}

.wrap__img-paris {
  background: url("../img/news__paris.jpg");
  background-size: cover;
}

.wrap__img-hands {
  background: url("../img/news__hands.jpg");
  background-size: contain;
}

.news__link{
  position: static;
  margin-top: 48px;
}

/*///////////////////////////////////*/
.footer {
  height: 535px;
  background: #222222;
  color: #FFF;
  position: relative;
  padding-top: 80px;
}

.footer__up{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 182px;
  width: 1320px;
  margin: 0 300px;
  
  height: 62px;
}

.up__text {
  font: 400 16px/120% "nunitosans", sans-serif;
  text-transform: lowercase;
  min-width: 862px;
  height: 38px;
  color: #F8F5F4;
}

.up__titles {
  display: flex;
  flex-direction: column;
}

.titles__title {
  font: 900 28px/150% "nunitosans", sans-serif;
  color: #4F8FF0 ;
  text-transform: uppercase;
}

.titles__subtitle {
  font: 900 20px/150% "nunitosans", sans-serif;
  color: #FFF;
  text-transform: lowercase;
}

.footer__line {
  width: 1320px;
  border: 1px solid #8C8C8C;
  margin: 48px 300px;
}

.footer__mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.mid__adress {
  width: 419px;
}

.adress__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 55px;
  margin-bottom: 24px;
  address {
    margin-left: 24px;
    height: 38px;
    p {
      font: 700 12px/120% "nunitosans", sans-serif;
      color: #8C8C8C;
      text-transform: uppercase;
    }
    a {
      font: 700 16px/150% "nunitosans", sans-serif;
      color: #fff;
    }
  }
}

.item__icon {
  width: 55px;
  height: 55px;
  background: #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid__menu {
  width: 312px;
  font: 700 14px/120% "nunitosans", sans-serif;
  margin: 0 24px 0 141px;
  li {
    margin-top: 16px;
    text-transform: uppercase;
  }
}

.mid__lawyer {
  width: 424px;
  display: grid;
  grid-template-columns: 65px 335px;
  grid-template-rows: 65px 63px;
  grid-template-areas: 
  "left head"
  "content content";
  gap: 24px;
  a {
    width: 241px;
    height: 49px;
    background: #4F8FF0;
    border: 2px solid #4F8FF0;
    text-align: center;
    color: #fff;
    padding-top: 16px;
    font: 900 14px/120% "nunitosans", sans-serif;
    text-transform: uppercase;
  }
}

.lawyer__img{
  height: 65px;
  width: 65px;
  grid-area: left;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
  }
}

.lawyer__name {
  grid-area: head;
  align-self: center;
  & p:nth-last-child(2) {
    font: 700 20px/150% "nunitosans", sans-serif;
  }
  & p:nth-last-child(1) {
    font: 300 14px/120% "nunitosans", sans-serif;
  }
}

.lawyer__text {
  grid-area: content;
  font: 400 14px/150% "nunitosans", sans-serif;
}

.footer__down {
  background: #181818;
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 300px;
  align-items: center;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 535px;
}